{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning Center</title>
    <link rel="stylesheet" href="{% static 'main/css/house.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    {% block extra_css %}

    {% endblock %}
</head>
<body>

{% include 'layouts/navbar.html' %}
{% block navbar %}
{% endblock %}

<div class="container" >
    {% block content %}
        <style>
            content {
                margin-top: 100px;
            }
        </style>
    {% endblock %}
</div>


{% include 'layouts/footer.html' %}


<script>
    $('#menu-img').click(function () {
        $('nav .navigation ul').addClass('active')
    });

    $('#menu-close').click(function () {
        $('nav .navigation ul').removeClass('active')
    });
</script>
</body>
</html>