{% extends 'layouts/base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'main/css/new.css' %}">

    <style>

        body {
            background-image: linear-gradient(145deg, var(--primary), var(--secondary));
        }

        .form {
            width: 60%;
            height: 100vh;
            margin: 0 auto;
            background-color: #ff0185;
            border-radius: 10px;

        }

        .form h4 {
            font-size: 24px;
            font-family: "Segoe UI", system-ui, sans-serif;
            color: #2c234d;
            line-height: 30px;
            margin-bottom: 8px;
        }

        .form p {
            color: var(--secondary);
            line-height: 24px;
            padding-bottom: 25px;
        }


        .form input {
            justify-content: space-evenly;
            width: 100%;
        }

        .form select {
            width: 60%;
            height: 20px;
            margin: 10px 0 10px 0;
        }

        .form input {
            width: 60%;
            height: 50px;
            font-size: 14px;
            font-weight: 500;
            border-radius: 3px;
            border: 1px solid var(--primary);
            background: #fff;
            color: var(--secondary);
            outline: none;
            padding: 15px 25px;
            margin-bottom: 20px;
            transition: 0.3s ease;
        }

        .form textarea {
            width: 60%;
            height: 150px;
            font-size: 16px;
            font-weight: 500;
            border-radius: 3px;
            border: 0px solid;
            background: #fff;
            color: var(--secondary);
            outline: none;
            padding: 20px 30px;
            margin-bottom: 20px;
        }

        .form button {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 0.9rem;
            background: var(--blue);
            outline: none;
            border: none;
            font-weight: 600;
            width: 60%;
            padding: 13px 25px;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            color: var(--secondary);
            border-radius: 5px;
            cursor: pointer;
            box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
            -webkit-transform-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transform-property: box-shadow, transform;
            transition-property: box-shadow, transform;
        }


        .form button:hover, .form button:focus, .form button:active {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    </style>
{% endblock %}

{% block content %}

    <h1></h1>

    <body>
    {% if request.user.is_superuser == True or request.user.is_teacher == True %}
        <div class="form">
            <form action="{% url 'tasks' %}" method="post" enctype="multipart/form-data">
                <h4>Vazifa Berish</h4>
                <p>Bu yerda siz o'quvchilar uchun vazifa yaratishining mumkin.</p>

                {% csrf_token %}
                {{ forms|crispy }}

                <button type="submit">Send</button>

            </form>
        </div>
    {% else %}


        {% if tasks == None or tasks == Null %}
            <h1 style="height: 110px">Salom</h1>
            <h1 style="padding-bottom: 40px; margin-left: 8vw">Vazifalar</h1>
            <h3 style="margin-left: 8vw;">Sizda Vazifalar Yo'q</h3>

        {% else %}
            <h1>salom</h1>
            <h1>salom</h1>
            <h1 style="padding-bottom: 40px; margin-left: 8vw">Vazifalar</h1>
            {% for i in tasks %}
                <h2 style="padding-bottom: 40px; margin-left: 8vw">Salom {{ i.student.student.full_name }}</h2>
                <h3 style="margin-left: 8vw; margin-bottom: 2vw">Siz Qilishingiz Kerak Bo'lgan Ish:  ({{ i.description }})</h3>

                <video style="margin-left: 8vw; background-color: #fff" width="320" height="240" controls>
                    <source src="{{ i.video.url }}">
                </video>

                <p style="margin: 2vw 8vw; font-weight: 600">Video Darajasi:  {{ i.level.level_name }}</p>

            {% endfor %}

        {% endif %}

    {% endif %}
    </body>



{% endblock %}