{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'main/css/house.css' %}">
    <style>
        {##teachers .expert-box .profile .img-img {#}
        {#    width: 85%;#}
        {#    height: 1vh;#}
        {#    border-radius: 8%;#}

        #course .courses {
            text-align: start;
            background-color: #00aaff;
            height: 100%;
            position: relative;
        }

        #home {
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(5, 4, 46, 0.7)), url({% static 'main/imgs/back-4.jpg' %});

        }

        #teachers .expert-box .profile h6 {
            padding-top: 10px;
        }

        #teachers .expert-box .profile p {
            padding-top: 10px;
        }

        .fea-base {
            background-image: linear-gradient(145deg, var(--primary), var(--secondary));
        }

        #course .courses {
            text-align: start;
            background: gray;
            height: 100%;
            position: relative;
        }


    </style>
{% endblock %}

{% block content %}

    <!-- Home  -->
    <section id="home">
        <h2>{% blocktrans %} ZetSchool o'quv markazi saytiga hush kelibsiz ! {% endblocktrans %}</h2>
        <p>{% blocktrans %}  ZetSchool o'z ish faoliyatini 2023-yildan boshlagan. Bu o'quv markaz boshqalarga nisbatan
            boshqacha. Negaki
            siz bu yerda individual tarzda malakali o'qituvchilar tomonidan o'qitilasiz< {% endblocktrans %}</p>
        <div class="btn">
            <a href="{% url 'about' %}" class="blue">{% trans "Ko'roq Bilish" %}</a>
            <a href="{% url 'blog' %}" class="yellow">{% trans "Kurslarni Ko'rish" %}</a>


        </div>
    </section>


    <!-- Feature -->
    <section id="feature">
        <h1>{% trans "Ajoyib Xususiyatlar" %}</h1>
        <p>{% blocktrans %} Malakali ustozlar tomonidan individual tarzda o'qitlasiz va sifatga kafolat
            beramiz {% endblocktrans %}</p>

        <div class="fea-base">
            <div class="fea-box">
                <i class="fa-solid fa-graduation-cap"></i>
                <h3>{% trans "Stipendiya ta'minoti" %}</h3>
                <p>{% blocktrans %} Albatta agar siz kurs davomida o'zingizni ko'rsatib bera olsangiz, biz sizga
                    stipendiya beramiz {% endblocktrans %}</p>
            </div>
            <div class="fea-box">
                <i class="fa-solid fa-passport"></i>
                <h3>{% trans 'Onlayn Kurslar' %} </h3>
                <p>{% blocktrans %} Bizda qo'shimcha support o'qituvchilar ham bor, agar siz ma'lum sababga ko'ra darsga
                    kela olmasangiz,
                    xavotirlanmang onlayn kurs bor {% endblocktrans %}</p>
            </div>
            <div class="fea-box">
                <i class="fas fa-award"></i>
                <h3>{% trans 'Global Sertifikat (IELTS)' %}</h3>
                <p>{% blocktrans %} Ingliz tili kursing ohiri bu IELTS imtihoni. Siz kursni tugatganingizdan so'ng IELTS
                    topshirasiz, Bu
                    sizni Ingliz tili darajangizni aniqlab beradi {% endblocktrans %}</p>
            </div>
        </div>
    </section>


    <!-- Courses -->
    <section id="course">
        <h1>{% trans "Bizning Kurslarimiz" %}</h1>
        <p>{% blocktrans %} Malakali ustozlar tomonidan individual tarzda o'qitlasiz va sifatga kafolat
            beramiz {% endblocktrans %}</p>

        <div class="course-box">
            {% for course in courses %}
                <div class="courses" style="background-color: #95D4E8">
                    <img src="{{ course.imageURL }}" alt="">

                    <div class="details">
                        <h6>{{ course.level_name }}</h6>

                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>

                    </div>

                    <div class="cost">
                        {{ course.price_level }}
                    </div>
                </div>
            {% endfor %}

        </div>

    </section>




    <!-- Profiles -->

    <section id="teachers">
        <h1>Kursimizni Bitirgan Mashhur Talabalarimiz </h1>
        <p>{% blocktrans %} Malakali ustozlar tomonidan individual tarzda o'qitlasiz va sifatga kafolat
            beramiz {% endblocktrans %}</p>


        <div class="expert-box">
            {% for b in bts %}
                <div class="profile">

                    <img src="{{ b.image }}" alt="" class="teacher-photo img-img">
                    <div class="d-column">
                        <div class="">
                            <h6>{{ b.full_name }}</h6>
                            <p>{{ b.description }}</p>
                        </div>

                        <div class="pro-links">
                            <i class="fab fa-facebook"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-linkedin-in"></i>
                        </div>
                    </div>


                </div>

            {% endfor %}
        </div>

    </section>

{% endblock %}